body{
    background-color: #181D2B;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    
}
.logo{
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.clicked{
    color: white;
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: center;

}
.login-btn{
    padding: 16px;
    color: white;
    background-color:rgb(0, 119, 255) ;
}
.hero-text {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    width: 100%; 
}
main{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
img{
    width: 328px;
}

.all-box {
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box-1 {
    background-color: rgba(37, 44, 65, 0.2);
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgb(245, 245, 245, 0.1);
    flex: 1;
    max-width: 380px;

}

.title {
    margin: 12px, 0px;
    color: white;
    font-size: 20px;
    margin: 16px 0px;

}

.paragraph {
    color: rgb(194, 194, 194);
    font-size: 16px;
    margin: 16px 0px;

}
.all-box-2{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    flex-wrap: wrap;
}